[app]
sdk_dir = /Users/admin/Wanbo/code/android/sdk
git_download_name = Werb/GankWithZhihu
assembleRelease = False

[dir]
base_file_dir = /Users/admin/Desktop
adb_dir =  /Users/admin/Wanbo/code/android/sdk/platform-tools/adb
dir_name = AutoSecret
code_dir_name = SourceCode
apk_dir_name = Apk
code_zip_name = GankWithZhihu
